.navContainer{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: all 0.4s ease-in-out;
}

.navBlack{
    background: #111;
}

.navLogo{
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
}

.navAvatar{
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}